<div class="flex gap-2">
  <!-- 知らなかった：lightbulb -->
  <%= render "posts/reaction_button", post: post, reaction_type: :unknown do %>
    <%= render "shared/icon", name: :unknown, icon_class: "reaction-icon" %>
  <% end %>

  <!-- いいね：heart -->
  <%= render "posts/reaction_button", post: post, reaction_type: :like do %>
    <%= render "shared/icon", name: :like, icon_class: "reaction-icon" %>
  <% end %>

  <!-- 行ってみたい：map pin -->
  <%= render "posts/reaction_button", post: post, reaction_type: :wantgo do %>
    <%= render "shared/icon", name: :wantgo, icon_class: "reaction-icon" %>
  <% end %>
</div>