<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Zen+Maru+Gothic:wght@500;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="m-0 min-h-screen pt-16 font-sans bg-gradient-to-b from-[#FFFEF9] via-white to-[#EEF3F0]">
    <%= render 'shared/header' %>

    <%# ページタイトル帯（ページ側から content_for で渡す） %>
    <% if content_for?(:page_title) %>
      <%= render "shared/page_header", title: yield(:page_title), subtitle: content_for?(:page_subtitle) ? yield(:page_subtitle) : nil %>
    <% end %>

    <main>
      <%= render "shared/page_container" do %>
        <%= render 'shared/flash_message' %>
        <%= yield %>
      <% end %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
